In [21]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [22]:
import numpy as np
import pandas as pd
import datetime as dt

## Reflect Tables into SQLALchemy ORM

In [23]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [24]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [25]:
# Use the Inspector to explore the database and print the table names
inspector=inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [26]:
# Use Inspector to print the column names and types
print('measurement table')
print('*'*50)
columns=inspector.get_columns('measurement')
for column in columns:
    print(column['name'], column['type'])
    
print('')
print('station table')
print('*'*50)
columns=inspector.get_columns('station')
for column in columns:
    print(column['name'], column['type'])

measurement table
**************************************************
id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

station table
**************************************************
id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [27]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)

In [28]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [29]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [30]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Bonus Challenge Assignment: Temperature Analysis II

In [87]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, maximum, and average temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# For example
print(calc_temps('2015-01-02', '2016-01-02'))

[(56.0, 73.86309278350515, 86.0)]

In [93]:
# Use the function `calc_temps` to calculate the tmin, tavg, and tmax 
# for a year in the data set
results=[]
for i in range(2010, 2017):
    result=calc_temps(f'{i}-01-01', f'{i+1}-01-02')
    results.append(result)

results

[[(56.0, 72.49356683345246, 87.0)],
 [(56.0, 72.65136612021858, 86.0)],
 [(56.0, 72.25405201658499, 86.0)],
 [(53.0, 72.67250372578242, 86.0)],
 [(56.0, 73.22052067381317, 85.0)],
 [(56.0, 73.84128289473684, 86.0)],
 [(56.0, 74.12112068965517, 84.0)]]

In [96]:
tmin=[r[0][0] for r in results]
tavg=[r[0][1] for r in results]
tmax=[r[0][2] for r in results]

[72.49356683345246,
 72.65136612021858,
 72.25405201658499,
 72.67250372578242,
 73.22052067381317,
 73.84128289473684,
 74.12112068965517]

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for bar height (y value)
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

### Daily Rainfall Average

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's 
# matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

### Daily Temperature Normals

In [31]:
# Use this function to calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()

# For example
daily_normals("01-01")

[(62.0, 69.15384615384616, 77.0)]

In [33]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip
start_date = '2017-08-01'
end_date = '2017-08-07'

# Use the start and end date to create a range of dates
date_range=list(range(start_date, end_date))
date_range
# Strip off the year and save a list of strings in the format %m-%d


# Use the `daily_normals` function to calculate the normals for each date string 
# and append the results to a list called `normals`.

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`

## Close Session

In [ ]:
# Close Session
session.close()